body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
}

header{
    background-color: white;
    padding: 10px;
    border-bottom: 2px solid #dcdc;
}

header h1{
    color: #b30000;
    font-size: 28px;
}

a{
    text-decoration: none;
    color: #b30000;
    font-weight: bold;
}

section{
    background-color: white;
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
}

h2{
    color: #b30000;
}

h4{
    color: #b30000;
}

p{
    line-height: 1.5;
}

ul{
    line-height: 2;
}

img{
    border-radius: 10px;
}

footer{
    background-color: #333;
    color: white;
    padding: 20px;
}

footer a{
    color: white;
}

footer h4{
    color: white;
}

footer ul{
    list-style-type: square;
}

table{
    width: 100%;
}

section a{
    background-color: #b30000;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
